<plugin name='joda-time' version='1.1' grailsVersion='1.1 &gt; *'>
  <author>Rob Fletcher</author>
  <authorEmail>rob@energizedwork.com</authorEmail>
  <title>Joda-Time Plugin</title>
  <description>\
The Joda-Time Plugin integrates the &lt;a href="http://joda-time.sourceforge.net/"&gt;Joda Time&lt;/a&gt; date/time library into
Grails. The plugin provides:
&lt;ul&gt;
&lt;li&gt;Libraries necessary to use Joda Time types as persistent fields on domain classes.&lt;/li&gt;
&lt;li&gt;The ability to bind from form inputs to Joda Time fields on domain or command objects.&lt;/li&gt;
&lt;li&gt;JSON and XML rendering of Joda Time types.&lt;/li&gt;
&lt;li&gt;Tag-libs for input and output of Joda Time data.&lt;/li&gt;
&lt;li&gt;Enhancements to Grails scaffolding to support domain classes with Joda Time fields.&lt;/li&gt;
&lt;li&gt;Compatibility and consistency methods added to Joda Time types.&lt;/li&gt;
&lt;/ul&gt;
</description>
  <documentation>http://grails.org/JodaTime+Plugin</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>com.energizedwork.grails.plugins.jodatime.DateTimeTagLib</resource>
    <resource>com.energizedwork.grails.plugins.jodatime.DateTimeZoneTagLib</resource>
    <resource>com.energizedwork.grails.plugins.jodatime.FormattingTagLib</resource>
    <resource>com.energizedwork.grails.plugins.jodatime.Html5InputTagLib</resource>
    <resource>com.energizedwork.grails.plugins.jodatime.PeriodTagLib</resource>
  </resources>
  <dependencies>
    <plugin name='core' version='1.1 &gt; *' />
    <plugin name='converters' version='1.1 &gt; *' />
  </dependencies>
  <behavior>
    <method name='format' artefact='Domain' type='org.joda.time.ReadableInstant'>
      <description />
      <argument type='java.lang.String' />
    </method>
    <method name='format' artefact='Domain' type='org.joda.time.ReadablePartial'>
      <description />
      <argument type='java.lang.String' />
    </method>
    <method name='negative' artefact='Domain' type='org.joda.time.Days'>
      <description />
    </method>
    <method name='negative' artefact='Domain' type='org.joda.time.Days'>
      <description />
      <argument type='java.lang.Object' />
    </method>
    <method name='multiply' artefact='Domain' type='org.joda.time.Days'>
      <description />
      <argument type='int' />
    </method>
    <method name='div' artefact='Domain' type='org.joda.time.Days'>
      <description />
      <argument type='int' />
    </method>
    <method name='negative' artefact='Domain' type='org.joda.time.Hours'>
      <description />
    </method>
    <method name='negative' artefact='Domain' type='org.joda.time.Hours'>
      <description />
      <argument type='java.lang.Object' />
    </method>
    <method name='multiply' artefact='Domain' type='org.joda.time.Hours'>
      <description />
      <argument type='int' />
    </method>
    <method name='div' artefact='Domain' type='org.joda.time.Hours'>
      <description />
      <argument type='int' />
    </method>
    <method name='negative' artefact='Domain' type='org.joda.time.Minutes'>
      <description />
    </method>
    <method name='negative' artefact='Domain' type='org.joda.time.Minutes'>
      <description />
      <argument type='java.lang.Object' />
    </method>
    <method name='multiply' artefact='Domain' type='org.joda.time.Minutes'>
      <description />
      <argument type='int' />
    </method>
    <method name='div' artefact='Domain' type='org.joda.time.Minutes'>
      <description />
      <argument type='int' />
    </method>
    <method name='negative' artefact='Domain' type='org.joda.time.Months'>
      <description />
    </method>
    <method name='negative' artefact='Domain' type='org.joda.time.Months'>
      <description />
      <argument type='java.lang.Object' />
    </method>
    <method name='multiply' artefact='Domain' type='org.joda.time.Months'>
      <description />
      <argument type='int' />
    </method>
    <method name='div' artefact='Domain' type='org.joda.time.Months'>
      <description />
      <argument type='int' />
    </method>
    <method name='negative' artefact='Domain' type='org.joda.time.Seconds'>
      <description />
    </method>
    <method name='negative' artefact='Domain' type='org.joda.time.Seconds'>
      <description />
      <argument type='java.lang.Object' />
    </method>
    <method name='multiply' artefact='Domain' type='org.joda.time.Seconds'>
      <description />
      <argument type='int' />
    </method>
    <method name='div' artefact='Domain' type='org.joda.time.Seconds'>
      <description />
      <argument type='int' />
    </method>
    <method name='negative' artefact='Domain' type='org.joda.time.Weeks'>
      <description />
    </method>
    <method name='negative' artefact='Domain' type='org.joda.time.Weeks'>
      <description />
      <argument type='java.lang.Object' />
    </method>
    <method name='multiply' artefact='Domain' type='org.joda.time.Weeks'>
      <description />
      <argument type='int' />
    </method>
    <method name='div' artefact='Domain' type='org.joda.time.Weeks'>
      <description />
      <argument type='int' />
    </method>
    <method name='negative' artefact='Domain' type='org.joda.time.Years'>
      <description />
    </method>
    <method name='negative' artefact='Domain' type='org.joda.time.Years'>
      <description />
      <argument type='java.lang.Object' />
    </method>
    <method name='multiply' artefact='Domain' type='org.joda.time.Years'>
      <description />
      <argument type='int' />
    </method>
    <method name='div' artefact='Domain' type='org.joda.time.Years'>
      <description />
      <argument type='int' />
    </method>
  </behavior>
</plugin>